<div id="store">
  <div class="galleryContainer">
    <div class="titleText">
      <p>Grid</p>
      <p>Below Presented <span>responsive</span> gallery.</p>
    </div>

    <div class="parent">
      <img
        class="general val1"
        src="https://cdn.pixabay.com/photo/2023/07/11/17/24/ai-generated-8121001_1280.jpg"
      />
      <img
        class="general val2"
        src="https://cdn.pixabay.com/photo/2023/08/03/13/49/ai-generated-8167209_640.png"
      />
      <img
        class="general val3"
        src="https://cdn.pixabay.com/photo/2022/12/03/16/26/crater-7633035_640.png"
      />
      <img
        class="general val4"
        src="https://cdn.pixabay.com/photo/2023/07/28/12/29/ai-generated-8155175_640.png"
      />
    </div>
  </div>

  <div id="about"></div>
</div>

