<div id="about">
  <div class="titleText">
    <p>About</p>
    <p>Express yourself! Write your own Lorem ipsum dolor...</p>
  </div>

  <div class="headDetails">
    <div class="head">
      <div class="head1">
        <p><span>NEW</span> HEADING</p>
        <p>CREATE/DESIGN CONTENT</p>
      </div>

      <div class="head2">
        <p>
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Commodi,
          iure minus <span>quisquam magnam</span>, culpa iusto dicta,
          perferendis sunt porro repellat exercitationem excepturi!
          <a href="">Donec Link</a> exercitationem placeat modi ex porro esse
          provident.
        </p>
      </div>

      <div class="head3">
        <ul>
          <li>Lorem, ipsum dolor sit</li>
          <li>Lorem, ipsum dolor sit</li>
        </ul>
      </div>
    </div>
    <div class="modalButton">
      <button
        type="button"
        data-bs-toggle="modal"
        data-bs-target="#exampleModal"
      >
        Open modal
      </button>
    </div>
  </div>

  <div class="tableContainer">
    <table class="table table-transparent">
      <thead>
        <tr>
          <th scope="col">Item</th>
          <th scope="col">Description</th>
          <th class="text-end" scope="col">Price</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Item Title</td>
          <td>Here goes Item description in my fancy table</td>
          <td class="text-end">$100,00</td>
        </tr>
        <tr>
          <td>Item Title</td>
          <td>Here goes Item description in my fancy table</td>
          <td class="text-end">$10,00</td>
        </tr>
        <tr>
          <td>Item Title</td>
          <td>Here goes Item description in my fancy table</td>
          <td class="text-end">$5287,00</td>
        </tr>
        <tr>
          <td>Item Title</td>
          <td>Here goes Item description in my fancy table</td>
          <td class="text-end">$412,00</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<div
  class="modal fade"
  id="exampleModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Modal</h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis quos
        id sequi ad unde atque cupiditate, ea consequuntur illo culpa, quae, et
        odit! Deleniti debitis quaerat magnam assumenda accusantium explicabo?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Close
        </button>
      </div>
    </div>
  </div>
</div>
