/* You can add global styles to this file, and also import other style files */

@import "~bootstrap/dist/css/bootstrap.css";

:root {
  --primary-color: #20202c;
  --secondary-color: #6971fa;
  --third-color: #727692;
  --bs-body-line-height: 1.1;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body::-webkit-scrollbar {
  width: 4px;
}

body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px #727692;
}

body::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}

p {
  margin: 0;
}
